// app.scss
app-container {
    width: 85vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}

header {
    display: flex;
    width: 85vw;
    margin: 1rem;
    font-weight: 900;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0rem 1.5rem;
    border: 1px solid #2195f333;
    border-radius: 20px;
    background-color: #303030;
    box-shadow: 0px 0px 20px 2px black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 2rem;
}

main h2 {
    justify-content: center;
}

main > * {
    width: 65vw;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 0.75rem 1rem;
        width: 80vw;
        margin: 1rem auto;
        text-align: center;
    }

    header > * {
        margin: 0.25rem 0;
    }
}